.frase {
    font-size: 20px;
    line-height: 1.5em;
    text-align: left;
}

.campo-digitacao {
    font-size: 20px;
    height: 130px;
    border: 3px solid #000000;
}

.campo-desativado {
    background-color: lightgray;
}

.campo-correto {
    border: 3px solid green;
}

.campo-errado {
    border: 3px solid red;
}

.icones {
    vertical-align: middle;
}

.placar {
    display: none;
}

.body {
    overflow: scroll;
}

#erro {
    display: none;
    color: #FF0000;
}

#spinner {
    display: none;
}

#frase-id {
    width: 40px;
}